name: Unit tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - run: go install github.com/jstemmer/go-junit-report/v2@latest

      - run: mkdir -p ./output

      - name: Test
        run: go test -v -coverprofile=./output/coverage.out 2>&1 ./... | go-junit-report -set-exit-code > ./output/report.xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./output/report.xml

      - uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: ./output/report.xml
